/*CSS for html pages*/

/*------------- CSS for ALL -----------------------------------------------------------------*/
/*remove html default browser margin so it will not show the white border on webpage*/
body {
    margin:0;
    padding:0;
    font-family:'Lucida Sans Unicode';
    display: flex;
    flex-direction: column;
    min-height:100vh
}

.page-content{
    flex:1;
    display:flex;
    flex-direction: column;
    height:auto
}

.sect1-header {
    height: 50px;
    background-color: #0B666A;
    position: relative;
    color:aliceblue;
    padding:10px;
    margin:0px
}

/*use 'flex' to display menu items */
.sect2-banner {
    height: 20px;
    background-color: #35A29F;
    display: flex;
    column-gap: 25px;
    position: relative;
    padding:5px;
    margin:0px
}

.menu {
    color:aliceblue;
    text-decoration: none;
}

.page-break{
    border:none;
    border-top:5px
}

.page-footer{
    position: relative;
    bottom:0;
    background-color: gray;
    display:flex;
    align-items: center;
}

/*------------- CSS for RECIPE ---------------------------------------------------------------------*/
.recipe{
    color:aliceblue;
}

.sect3-ingredient{
    background-color:#9BCDD2;
    color:darkslategrey;
    display: flex;
    flex-direction: row;
    height:30px;
    padding: 10px;
    margin: 10px 0
}

.ingredient_list{
    list-style-type: none;
    color:darkslategrey;
    width: 200px;
    height:500px;
}

.ingredient-box{
    width:150px;
}

.sect4-recipe{
    color:darkslategrey;
    margin: 0;
    padding: 10px;
/*    height: 500px;*/
}

.recipe_content {
    display: none
}

.recipe-matrix{
    position:relative;
}

.recipe-image_box{
    position:relative;
    width: 250px;
    height:150px;
    float:left;
    margin:0
}

.recipe-image{
    border-radius: 15px;
    position:absolute;
}

.recipe-name_box{
    height:150px;
    width:800px
}

.recipe-name_notes{
    font-size: small;
    font-style: italic;
}

.recipe-body_outer_box {
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    background-color: rgb(177, 238, 238);
}

/*--'flex' and '@media' let columns flow to next row when the page window is resized--*/ 
.recipe-matrix {
    width:250px;
    padding:5px;
    margin:10px;
    flex:1 1 1 25%;
    box-sizing:border-box;
}

@media(max-width:300px){
    .recipe-matrix{
        flex-basis:100%;
    }
}

.recipe-matrix_image_box{
    margin:auto;
    width:200px;
    height:150px;
}

/*------------- CSS for PORTFOLIO ----------------------------------------------------------------*/


.portfolio {
    height : auto;
    background-color: #9BCDD2;
    border-radius: 110px;
    position: relative;
    color:darkslategrey;
    padding:15px 100px;
    margin: 50px
}

.portfolio-body_header{
    margin:50px;
    padding:10px;
}

.portfolio-body_outer_box {
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    background-color: rgb(177, 238, 238);
}

/*--'flex' and '@media' let columns flow to next row when the page window is resized--*/ 
.portfolio-matrix {
    width:300px;
    padding:5px;
    margin:10px;
    flex:1 1 1 25%;
    box-sizing:border-box;
}

@media(max-width:300px){
    .portfolio-matrix{
        flex-basis:100%;
    }
}

.portfolio-image_box{
    margin:auto;
    width:250px;
    height:180px;
}

.freelance {
    height : auto;
    background-color: #C1ECE4;
    border-radius: 110px;
    position: relative;
    color:darkslategrey;
    padding:15px 50px;
    margin: 50px
}